@import 'src/app/styles/globals';

:host {
  //border: 1px solid $accent;
  //border-left-width: 6px;
  border-radius: 4px;
  box-sizing: border-box;
  color: $font-color;
  background-color: rgba(108, 200, 107, 0.1);
  //box-shadow: 0 0 2px 1px $accent;

  &.round-border {
    border-radius: 40px;
  }
}
