@import 'src/app/styles/globals';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.container {
  //background: url('/assets/Background_V3_01_Dark_Center.jpg') no-repeat center;
  //background-size: cover;
  //overflow: hidden;
  color: $font-color;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  section {
    margin: 25px 0;
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    #ugly-hack {
      width: 140px;
    }

    .app-link {
      user-select: none;
      cursor: not-allowed;
      margin-right: 40px;
      padding: 10px 40px !important;
      background: none;
      border: 1px solid $accent;
      border-radius: 25px;
      color: #f8f8f8;

      &:hover {
        filter: blur(2px);
      }
    }
  }

  .logo {

    video {
      height: 500px;
      width: 100%;
      object-fit: scale-down;
      animation: logo-fade-in 3s ease-out;
    }
  }

  .explanation {
    width: 50%;
    h1 {
      text-align: center;
      font-size: xx-large;
      font-weight: 900;
      letter-spacing: 10px;
      margin-bottom: 46px;
      animation: header_appear .5s ease-in-out;
    }
    .info {
      font-size: large;
      line-height: 1.85;

      .token-logos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        img {
          height: 64px;
          width: auto;
        }
      }
    }
    @keyframes header_appear {
      0% {
        opacity: 0;
        margin-top: 46px;
        margin-bottom: 0px;
      }
      75% {
        opacity: .5;
        margin-top: -6px;
        margin-bottom: 52px;
      }
      100% {
        opacity: 1;
        margin-top: 0px;
        margin-bottom: 46px;
      }
    }


  }

  .socials {
    margin: 140px 0 0 0 !important;
    width: 100%;
    background-color: $accent;
    color: $component-bg;
    .socials-desc {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .social-links {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      button {
        display: flex;
        align-items: center;
        cursor: pointer;
        background: none;
        outline: none;
        border: none;
        color: #dbdbdb;
        padding: 5px;
        margin: 8px 0;
        text-align: center;
        font-weight: bold;
        font-size: larger;
        transition-duration: 0.15s;

        &:hover {
          color: $component-bg;
        }

        img {
          margin-right: 10px;
          margin-left: 20px;
          width: 64px;
        }
      }
    }
  }
}

@keyframes logo-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.custom-shape-divider-top-1631463275 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1631463275 svg {
  position: relative;
  display: block;
  width: calc(140% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1631463275 .shape-fill {
  fill: $primary-bg;
}
