<div class="container">
  <section class="header">
    <div id="ugly-hack"></div>
    <app-clock></app-clock>
    <div class="app-link">WebApp</div>
  </section>
  <section class="logo">
    <video playsinline autoplay muted loop poster="/assets/video-palceholder.PNG" id="bgvid">
      <source src="/assets/0001-0249.webm" type="video/mp4">
    </video>
  </section>
  <section class="explanation">
    <h1 class="main-header">VC DAO</h1>
    <h2 (click)="toggleInfo()">About</h2>
    <div class="info">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ultrices urna, eget consequat magna. Pellentesque vulputate eu lacus ac pretium.</p>
      <ul>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      </ul>
    </div>
  </section>
  <section class="socials">
    <div class="social-links">
      <button><img src="assets/medium-logo.png" alt="logo">Medium</button>
      <button><img src="assets/telegram.png" alt="logo">Telegram</button>
      <button><img src="assets/twitter.png" alt="logo">Twitter</button>
    </div>
  </section>
</div>
