<div class="container">
  <section class="header">
    <div id="ugly-hack"></div>
    <app-clock></app-clock>
    <div class="app-link">WebApp</div>
  </section>
  <section class="logo">
    <video playsinline autoplay muted loop poster="/assets/video-palceholder.PNG" id="bgvid">
      <source src="/assets/0001-0249.webm" type="video/mp4">
    </video>
  </section>
  <section class="explanation">
    <h1 class="main-header">VCDAO – Venture Capital Dao - $VCS</h1>
    <h2>About</h2>
    <br>
    <div class="info">
      <p>VCDAO will be launching here soon. The venture capital protocol to optimize your risk/reward in the cryptocurrency ecosystem.</p>
      <br>
      <ul>
        <li>DAO: Autonomous and decentralized on-chain voting and proposing tokens and coins. (Based on Aragon DAO)</li>
        <li>Rewards: Earn rewards proportional to your LP`s staked, earn extra rewards for proposing successful acquisitions for the DAO.</li>
        <li>Reward Cycles: Every 30 days a new reward cycle starts where other tokens get awarded to all stakers. </li>
        <li><b>Public sale: the public sale will be announced here soon!</b></li>
      </ul>
      <br>
      <h2>Stake – Lock – Earn – VCDAO.</h2>
      <p>The core team has acquired tokens for over 100.000$ from personal funds to bootstrap this project.
        EOS, VLX, etc. etc. is ready and standing by the be distributed in first reward cycles.</p>
      <br>
      <br>
      <div class="token-logos">
        <a href="https://eos.io/" target="_blank"><img alt="eos.png" src="assets/crypto_icons/eos.png" /></a>
        <a href="https://tezos.com/" target="_blank"><img alt="tezos.png" src="assets/crypto_icons/tezos.png" /></a>
        <a href="https://velas.com/" target="_blank"><img alt="velas.png" src="assets/crypto_icons/velas.png" /></a>
        <a href="https://www.terra.money/" target="_blank"><img alt="luna.png" src="assets/crypto_icons/luna.png" /></a>
      </div>
    </div>
  </section>
  <section class="socials">
    <div class="custom-shape-divider-top-1631463275">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
      </svg>
    </div>
    <div class="socials-desc">
      <h1>Use our Social Links to stay updated with our progress!</h1>
      <div class="social-links">
        <button><img src="assets/medium-logo.png" alt="logo">Medium</button>
        <button><img src="assets/telegram.png" alt="logo">Telegram</button>
        <button><img src="assets/twitter.png" alt="logo">Twitter</button>
      </div>
    </div>
  </section>
</div>
