card-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.percentage {
  font-size: 72px;
  line-height: normal;

  &.negative {
    color: #790000;
  }

  &.positive {
    color: #0c7900;
  }
}

.button-container {
  display: flex;
  justify-content: center;

  mat-radio-button {
    margin: 6px;
  }
}
