<card-wrapper>
    <span class="percentage" [ngClass]="percentage > 0 ? 'positive' :  percentage == 0 ? '' : 'negative'">
        {{percentage}}%
    </span>
    <mat-radio-group class="button-container" aria-label="date range" (change)="dateRangeChanged($event.value)">
        <mat-radio-button checked [value]="TimeRange.ONE_DAY">1 Day</mat-radio-button>
        <mat-radio-button [value]="TimeRange.ONE_WEEK">1 Week</mat-radio-button>
        <mat-radio-button [value]="TimeRange.ONE_MONTH">1 Month</mat-radio-button>
        <mat-radio-button [value]="TimeRange.ONE_YEAR">1 Year</mat-radio-button>
    </mat-radio-group>
</card-wrapper>
