.invest-value-container {
  mat-card {
    margin: 5px;
  }
  .chart-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-flow: row;
    flex-wrap: wrap;

    .chart {
    }
  }
}

.pools-investments {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  table {
    width: 80%;

    .mat-row {
      height: 80px;
      &:hover {
        background-color: rgba(0, 255, 246, 0.1);
        cursor: pointer;
      }
    }

    .flex-cell {
      display: flex;
      align-items: center;
      font-weight: bold;
      color: #3c3c3c;

      .icon {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        margin-right: 40px;
      }
    }
  }
}
.huge-header {
  font-size: large;
  color: #484848;
  margin-bottom: 20px;
}
.big-text {
  font-size: xxx-large;
  font-weight: bold;
  color: #3c3c3c;
  margin-bottom: 40px;
}
