
  .pool-icon {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
    margin-bottom: 10px;
    img {
      height: 40px;
      width: 40px;
      margin-right: 10px;
    }
    h2 {
      margin: 0;
      padding: 0 30px;
      font-weight: bold;
    }
  }
  .card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    .desc_value-pair {
      background-color: rgba(53, 53, 53, 0.02);
      margin: 10px 20px 10px 10px;
      padding: 0 5px;
      box-shadow: inset 0 5px 12px -1px rgba(0, 0, 0, 0.2);
      .desc {
        width: 80px;
        padding: 15px 10px;
        display: inline-block;
      }
      .value {
        padding: 10px;
        font-weight: bold;
        display: inline-block;
      }
    }
  }
  .pool-actions {
    * {
      margin: 10px;
    }
    .pool-button {
      cursor: pointer;
      padding: 10px 30px;
      border: 1px solid #00FFF6;
      border-radius: 1px;
      background-color: #ffffff;
      transition-duration: 0.2s;
      box-shadow: 0 10px 12px -1px rgba(0, 0, 0, 0.2);
      &:hover {
        background-color: #00FFF6;
        color: #fdfdfd;
      }
    }
  }
