<h2></h2>
<mat-dialog-content>
      <div class="pool-icon">
        <img src="/assets/{{pool.icon}}">
        <h2 mat-dialog-title>{{pool.title}}</h2>
      </div>
      <div class="card-content">
        <div>
          <div class="desc_value-pair">
            <span class="desc">Deposited:</span>
            <span class="value">{{pool.value}}</span>
          </div>
          <div class="desc_value-pair">
            <span class="desc">Earned VCS:</span>
            <span class="value">0.9458 VCS</span>
          </div>
        </div>
        <div>
          <div class="desc_value-pair">
            <span class="desc">TVL:</span>
            <span class="value">{{pool.tvl}}</span>
          </div>
          <div class="desc_value-pair">
            <span class="desc">Your %:</span>
            <span class="value">15%</span>
          </div>
        </div>
        <div>
          <div class="desc_value-pair">
            <span class="desc">APY</span>
            <span class="value">3.7k %</span>
          </div>
          <div class="desc_value-pair">
            <span class="desc">Daily</span>
            <span class="value">1.34 %</span>
          </div>
        </div>
      </div>
</mat-dialog-content>
<mat-dialog-actions class="pool-actions">
  <button class="pool-button">Claim</button>
  <button class="pool-button">Deposit</button>
</mat-dialog-actions>
