<div class="info-header">
    <span class="pod-data-text">Pod Data:</span>
    <pod-health></pod-health>
    <value-locked></value-locked>
    <coin-ratio></coin-ratio>
</div>
<investment-chart></investment-chart>
<percentage-increase [initialValue]="initialInvestmentValue" [currentValue]="currentInvestmentValue" (timeRangeChanged)="changeTimeRange($event)"></percentage-increase>
<investment-value [initialValue]="initialInvestmentValue" [currentValue]="currentInvestmentValue"></investment-value>
<pool-list-wrapper></pool-list-wrapper>
