:host {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 100px;
}

.info-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
    grid-column: span 3;

    * {
        margin-left: 12px;
    }

    .pod-data-text {
        font-size: 18px;
    }
}

investment-chart {
    grid-column: span 2;
    grid-row: span 2;
}

percentage-increase {
    grid-column: span 1;
    grid-row: span 1;
    align-self: flex-end;
}

investment-value {
    grid-column: span 1;
    grid-row: span 1;
    align-self: flex-end;
}

pool-list-wrapper {
    grid-column: span 3;
    margin-top: 24px;
}
nftcard {
  grid-column: span 1;
  grid-row: span 1;
  align-self: flex-end;
}
