:host {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 100px;
}

investment-chart {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

percentage-increase {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

investment-value {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

pool-list-wrapper {
    grid-column: 1 / 4;
  margin-top: 24px;
}
