.advanced-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .bar-chart-container {
    height: 120px;
    padding: 40px 0;
  }
  .info-card {
    margin: 10px;
    padding: 70px;
    width: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .info-text {
      max-width: 600px;
    }
  }
  .tokens {
    height: 500px;
  }

  .huge-header {
    font-size: large;
    color: #484848;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .big-text {
    font-size: xxx-large;
    font-weight: bold;
    color: #3c3c3c;
    margin-left: 20px;
    margin-bottom: 40px;
  }
}
