/* You can add global styles to this file, and also import other style files */
@import './app/styles/globals';
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $primary-bg;
}

button:focus {
  outline: none;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 5px 10px -1px rgba(0, 0, 0, 0.1),
  0 1px 1px 0 rgba(0, 0, 0, 0.08),
  0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(222, 222, 222);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $accent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $accent;
}
