@import '../../styles/globals';

table {
    width: 100%;
    border-collapse: collapse;
    background: $component-bg;
    font-size: 20px;
    line-height: normal;
    border-left-color: $accent;
}

td, th {
    text-align: center;
    padding: 12px;
    vertical-align: middle;
}

.icon-cell {
    width: 	120px;
    text-align: end;
}

table, tr {
    border: 1px solid $component-bg-light;
    border-left-width: 10px;
    border-left-color: $accent;
}

img {
    height: 64px;
    width: 64px;
}
