<table>
    <tr>
        <th></th>
        <th>Token</th>
        <th>Value</th>
        <th>TVL</th>
        <th>Past 24h</th>
        <th>Market Cap</th>
        <th>APY</th>
        <th>Daily APR</th>
    </tr>
    <tr *ngFor="let pool of pools">
        <td class="icon-cell"><img [src]="'/assets/' + pool.icon"/></td>
        <td>{{pool.title}}</td>
        <td>{{pool.value}}</td>
        <td>{{pool.tvl}}</td>
        <td>{{pool.past24h}}</td>
        <td>{{pool.mcap}}</td>
        <td>{{pool.predicted_apr?.yearly}}</td>
        <td>{{pool.predicted_apr?.daily}}</td>
    </tr>
</table>