@import 'src/app/styles/globals';

table {
    width: 100%;
    border-collapse: collapse;
    background: $component-bg;
    font-size: 20px;
    line-height: normal;
    border-left-color: $accent;
}

td, th {
    text-align: center;
    padding: 12px;
    vertical-align: middle;
}
th {
  font-weight: normal;
  font-size: 16px;
  color: $accent;
  background-color: $component-bg-light;
}
.icon-cell {
    width: 	120px;
    text-align: end;
}

table, tr {
    border: 1px solid $component-bg-light;
    border-left: 10px solid $accent;
}
.rows:hover {
  background-color: rgba(255, 255, 255, 0.02);
  cursor: pointer;
}

img {
    height: 64px;
    width: 64px;
}
