<div class="container">
  <h1>Staking Pools</h1>
  <div class="pools-container">
    <mat-card *ngFor="let pool of pools" class="pool">
      <mat-card-header>
        <div mat-card-avatar class="pool-icon">
          <img src="../../assets/{{pool.image}}">
        </div>
        <mat-card-title>{{pool.name}}</mat-card-title>
        <mat-card-subtitle>$32/LP</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content >
        <div class="card-content">
          <div>
            <div class="desc_value-pair">
              <span class="desc">Deposited:</span>
              <span class="value">576 LP ($3360)</span>
            </div>
            <div class="desc_value-pair">
              <span class="desc">Earned VCS:</span>
              <span class="value">0.9458 VCS</span>
            </div>
          </div>
          <div>
            <div class="desc_value-pair">
              <span class="desc">Total TVL:</span>
              <span class="value">5320 LP ($332460)</span>
            </div>
            <div class="desc_value-pair">
              <span class="desc">Your %:</span>
              <span class="value">15%</span>
            </div>
          </div>
          <div>
            <div class="desc_value-pair">
              <span class="desc">APY</span>
              <span class="value">3.7k %</span>
            </div>
            <div class="desc_value-pair">
              <span class="desc">Daily</span>
              <span class="value">1.34 %</span>
            </div>
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions class="pool-actions">
        <button class="pool-button">Claim</button>
        <button class="pool-button">Deposit</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
