<div class="footer">
  <div class="footer-content">
    <div>
      <img src="assets/Asset%202.svg" alt="logo">
      <p>1816 DAO</p>
    </div>
    <div class="social-links">
      <h2>Social Media</h2>
      <button><img src="assets/discord.png" alt="logo">Discord</button>
      <button><img src="assets/telegram.png" alt="logo">Telegram</button>
      <button><img src="assets/twitter.svg" alt="logo">Twitter</button>
    </div>
    <div>
      <p>The team</p>
    </div>
    <div>
      <p>Documentation</p>
    </div>
  </div>
</div>
