<h1 style=" font-size: 32px">Total DAO Investment value</h1>
<div class="container">
  <ngx-charts-line-chart
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [yScaleMax]="50000"
    [xAxisTickFormatting]="formatUnix"
    [curve]="curve"
    [timeline]="timeline"
    [results]="chartData">
  </ngx-charts-line-chart>
</div>
