@import 'src/app/styles/globals';
.container {
  width: 100%;
  height: 450px;
}

::ng-deep .ngx-charts {
  text{
    fill: $font-color !important;
  }
}
::ng-deep .ngx-charts .line-highlight {
  display: block !important;
}
